<form  #form="ngForm" validate (ngSubmit)="onSubmit()">
  <div class="row">
    <!--One client in body-->
    <div class="col-md-4"><h1>Новый клиент</h1></div>
    <div class="col-md-2" style="bottom:0;right:0; position:relative">
      <button type="submit"
              [disabled]="formSubmitted && form.invalid"
              [class.btn-secondary]="formSubmitted && form.invalid"
              class="btn btn-outline-success btn-icon">
      <span class="icon"><i class="fas fa-check"></i></span>Записать</button>
    </div>
    <div class="col-md-6">
      <client-menu></client-menu>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="form-group row">
        <label for="lastName" class="col-3 col-form-label">Фамилия</label>
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <fa-icon [icon]="faEdit"></fa-icon>
              </div>
            </div>
            <input id="lastName" name="lastName" ngModel required minlength="2" pattern="^[A-Za-zА-Яа-я ]+$" #lastName="ngModel" type="text" class="form-control" placeholder="Введите фамилию здесь" />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="firstName" class="col-3 col-form-label">Имя</label>
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                  <fa-icon [icon]="faEdit"></fa-icon>
              </div>
            </div>
            <input id="firstName" name="firstName" ngModel required minlength="2" pattern="^[A-Za-zА-Яа-я ]+$" #firstName="ngModel" type="text" class="form-control" placeholder="Введите имя здесь">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="middleName" class="col-3 col-form-label">Отчество</label>
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                  <fa-icon [icon]="faEdit"></fa-icon>
              </div>
            </div>
            <input id="middleName" name="middleName" ngModel minlength="2" pattern="^[A-Za-zА-Яа-я ]+$" #middleName="ngModel" type="text" class="form-control" placeholder="Введите отчество здесь">
          </div>
        </div>
      </div>


      <div class="form-group row m-b-0">
        <label for="text" class="col-3 col-form-label">E-Mail</label>
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <fa-icon [icon]="faMailBulk"></fa-icon>"
                </div>
            </div>
            <input id="email" name="email" type="email"   ngModel email #email="ngModel" class="form-control" placeholder="Введите электронную почту здесь">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-7 offset-5">
          <input type="checkbox" class="checkbox" id="noSendStatus" [disabled]="email.invalid || email.value===''" [checked]="false" />
          <label for="noSendStatus">Не отправлять статус заявки</label>
        </div>
      </div>
      <div class="row">
        <div class="col-7 offset-5">
          <input type="checkbox" class="checkbox" id="noSendMessages" [disabled]="email.invalid || email.value===''" [checked]="false" />
          <label for="noSendMessages">Не отправлять рассылку</label>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <client-tags></client-tags>
    </div>
  </div>
      <client-phones></client-phones>
</form>
