<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
   
     
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/clientage/find']">
          <span class='glyphicon glyphicon-home'></span> Найти
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/clientage/add']">
          <span class='glyphicon glyphicon-home'></span> Новый
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/clientage/add']">
          <span class='glyphicon glyphicon-home'></span> Редактировать
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/clientage/add']">
          <span class='glyphicon glyphicon-home'></span> Удалить
        </a>
      </li>
    </ul>
     
   
  </nav>
</header>
