<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="content">
    <h1>
        Welcome to {{title}}!
    </h1>
    <span style="display: block">{{ title }} app is running!</span>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
</ul>
<button><fa-icon [icon]="faCoffe"></fa-icon></button>


<div class="wrapper">
    <i><b style="color: orange">And yes, flags are not visible here. It's a Stackblitz only issue.</b></i>
</div>
<div class="wrapper">
    <button (click)="changePreferredCountries()">Change Preferred Countries</button>
</div>
<div class="wrapper">
    <input type="checkbox"
           [(ngModel)]="separateDialCode">
    <label>&nbsp;Separate Dial Code?</label>
</div>
<form #f="ngForm" [formGroup]="phoneForm">
    <div class="wrapper">
        <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                            [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[searchCountryField.Iso2, searchCountryField.Name]" [selectFirstCountry]="false"
                            [selectedCountryISO]="countryISO.India" [maxLength]="15"
                            [phoneValidation]="true" [separateDialCode]="separateDialCode"
                            [numberFormat]="phoneNumberFormat.National" name="phone" formControlName="phone">
        </ngx-intl-tel-input>
    </div>
    <div class="wrapper">
        <button (click)="f.reset()">Reset</button>
    </div>
</form>
<br>
<div>
    <strong>Is input valid:</strong>
    <pre>{{ !f.form.controls['phone'].invalid }}</pre>
</div>
<div>
    <strong>Is input touched:</strong>
    <pre>{{ f.form.controls['phone'].touched }}</pre>
</div>
<div>
    <strong>Is form valid:</strong>
    <pre>{{ f.form.valid }}</pre>
</div>
<div>
    <strong>Form value:</strong>
    <pre>{{ f.form.value | json }}</pre>
</div>
<div>
    <strong>Form validation errors:</strong>
    <pre>{{ f.form.controls['phone'].errors | json }}</pre>
</div>

<router-outlet></router-outlet>